[submodule "DevDistillery-Backend"]
	path = DevDistillery-Backend
	url = https://github.com/FlypZed/DevDistillery-Backend.git
[submodule "DevDistillery-Frontend"]
	path = DevDistillery-Frontend
	url = https://github.com/FlypZed/DevDistillery-Frontend.git
